<html>
    <head>
        <title>
            HickHub privacy policy
        </title>
    </head>
    <body>
        <p>HickHub does not collect any personally identifiable information about those that use it.</p>
        <p>Logging in to Amazon through HickHub allows us to link your Echo device to the HickHub on your local network. We only collect your Amazon User ID for this purpose.</p>
        <p>Once your HickHub is linked to your Amazon account, we store your global IP address in order to call the hub with your commands.</p>
        <p>We do not share this information with any third parties.</p>
        <p>All of this information can be confirmed by viewing the HickHub source code which is publicly available.</p>
    </body>
</html>